**Handling Missing Data, Categorical Data, Numeric Data, and Outliers in Data Analysis**

## 1. Handling Missing Data
Missing data can occur due to various reasons such as incomplete data collection, errors in data entry, or system failures. There are several strategies to handle missing data:

### Techniques:
- **Deletion Methods:**
  - Listwise deletion: Removes entire rows with missing values.
  - Pairwise deletion: Uses available data without removing entire rows.
- **Imputation Methods:**
  - Mean/Median/Mode imputation: Replaces missing values with statistical measures.
  - Forward/Backward Fill: Uses previous or next available value to fill missing data.
  - Interpolation: Estimates missing values based on trends.
  - Machine Learning Imputation: Predicts missing values using models like KNN or regression.

## 2. Handling Categorical Data
Categorical data needs to be transformed into numerical format for machine learning models.

### Encoding Techniques:
- **Label Encoding:** Assigns a unique integer to each category.
- **One-Hot Encoding:** Converts categorical variables into binary vectors.
- **Ordinal Encoding:** Assigns ordered values to categories with a meaningful ranking.
- **Target Encoding:** Replaces categories with the mean of the target variable.

## 3. Handling Numeric Data
Numeric data may have varying scales or distributions, requiring preprocessing.

### Techniques:
- **Standardization (Z-score normalization):** Transforms data to have a mean of 0 and standard deviation of 1.
- **Min-Max Scaling:** Rescales data to a fixed range (0 to 1).
- **Robust Scaling:** Uses median and interquartile range to handle outliers.

## 4. Handling Outliers
Outliers can distort analysis and predictions, so they must be detected and treated properly.

### Detection Methods:
- **Z-score Method:** Identifies data points beyond a threshold (e.g., |Z| > 3).
- **Interquartile Range (IQR):** Flags values beyond 1.5 times the IQR.
- **Boxplots & Visualization:** Uses plots to detect extreme values.
- **Isolation Forest & DBSCAN:** Machine learning-based anomaly detection techniques.

### Treatment Methods:
- **Capping:** Limits extreme values to a fixed threshold.
- **Transformation (Log, Square Root):** Reduces impact of outliers.
- **Winsorization:** Replaces extreme values with nearest acceptable value.
- **Removal:** Deletes outliers if justified by business needs.

## Conclusion
Proper handling of missing data, categorical variables, numeric transformations, and outliers is essential for building reliable and robust data models. Choosing the right technique depends on the dataset and analysis objectives.

In [ ]:
# Data Preprocessing Techniques

import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler
from scipy import stats

# Sample dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', np.nan],
    'Age': [25, np.nan, 35, 40, 29],
    'Salary': [50000, 60000, np.nan, 80000, 70000],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR']
}
df = pd.DataFrame(data)
print("Original Data:")
print(df)

# Handling Missing Data
imputer = SimpleImputer(strategy='mean')
df['Age'] = imputer.fit_transform(df[['Age']])
df['Salary'] = imputer.fit_transform(df[['Salary']])
df['Name'].fillna('Unknown', inplace=True)
print("\nAfter Handling Missing Data:")
print(df)

# Encoding Categorical Data
label_encoder = LabelEncoder()
df['Department'] = label_encoder.fit_transform(df['Department'])
print("\nAfter Label Encoding:")
print(df)

ohe = OneHotEncoder()
department_encoded = ohe.fit_transform(df[['Department']]).toarray()
print("\nAfter One-Hot Encoding:")
print(department_encoded)

# Scaling Numeric Data
scaler = StandardScaler()
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])
print("\nAfter Standard Scaling:")
print(df)

# Handling Outliers using Z-Score
z_scores = np.abs(stats.zscore(df[['Age', 'Salary']]))
df = df[(z_scores < 3).all(axis=1)]
print("\nAfter Handling Outliers:")
print(df)

# Dealing with missing data
It is important to deal with missing data before starting your analysis.

One approach is to drop missing values if they account for a small proportion, typically five percent, of your data.

Working with a dataset on plane ticket prices, stored as a pandas DataFrame called planes, you'll need to count the number of missing values across all columns, calculate five percent of all values, use this threshold to remove observations, and check how many missing values remain in the dataset.

In [ ]:
# Count the number of missing values in each column
print(planes.isna().sum())


# Find the five percent threshold
threshold = len(planes) * 0.05


# Create a filter
cols_to_drop = planes.columns[planes.isna().sum() <= threshold]

# Drop missing values for columns below the threshold
planes.dropna(subset=cols_to_drop, inplace=True)
print(planes.isna().sum())

# Strategies for remaining missing data
The five percent rule has worked nicely for your planes dataset, eliminating missing values from nine out of 11 columns!

Now, you need to decide what to do with the "Additional_Info" and "Price" columns, which are missing 300 and 368 values respectively.

You'll first take a look at what "Additional_Info" contains, then visualize the price of plane tickets by different airlines.

In [ ]:
# Check the values of the Additional_Info column
print(planes['Additional_Info'].value_counts())

# Create a box plot of Price by Airline
sns.boxplot(data=planes, x='Airline', y="Price")

plt.show()

## Question
How should you deal with the missing values in "Additional_Info" and "Price"?
Possible answers

Remove the "Additional_Info" column and impute the median by "Airline" for missing values of "Price".

# Imputing missing plane prices
Now there's just one column with missing values left!

You've removed the "Additional_Info" column from planes—the last step is to impute the missing data in the "Price" column of the dataset.

As a reminder, you generated this boxplot, which suggested that imputing the median price based on the "Airline" is a solid approach!

In [ ]:

# Calculate median plane ticket prices by Airline
airline_prices = planes.groupby("Airline")["Price"].median()

print(airline_prices)

# Convert to a dictionary
prices_dict = airline_prices.to_dict()

# Map the dictionary to the missing values
planes["Price"] = planes["Price"].fillna(planes["Airline"].map(prices_dict))

# Check for missing values
print(planes.isna().sum())

Let's break down the solution to understand how it addresses the exercise requirements:

### Grouping and Calculating Median:

`airline_prices = planes.groupby("Airline")["Price"].median()`
This line groups the data in the planes DataFrame by the Airline column and calculates the median Price for each airline. The result is a Series where the index is the airline names and the values are the median prices. This step is crucial because it provides a typical price for each airline, which we will use to fill in the missing values.

### Converting to a Dictionary:

`prices_dict = airline_prices.to_dict()`
Here, the Series airline_prices is converted into a dictionary called prices_dict. This dictionary maps each airline to its corresponding median price. This mapping is necessary for the next step, where we will use it to fill in missing values.

### Mapping and Filling Missing Values:

`planes["Price"] = planes["Price"].fillna(planes["Airline"].map(prices_dict))`
This line fills in the missing values in the Price column. It uses the fillna() method, which replaces NaN values with specified values. The map() function is applied to the Airline column, using prices_dict to replace each airline with its median price. This effectively imputes missing prices based on the typical price for each airline.

### Checking for Remaining Missing Values:

`print(planes.isna().sum())`
Finally, this line checks for any remaining missing values in the DataFrame. The isna() method returns a DataFrame of the same shape as planes, with True for NaN values and False otherwise. The sum() method then counts the number of True values in each column, giving a summary of missing values.

# Finding the number of unique values
You would like to practice some of the categorical data manipulation and analysis skills that you've just seen. To help identify which data could be reformatted to extract value, you are going to find out which non-numeric columns in the planes dataset have a large number of unique values.

In [ ]:
# Filter the DataFrame for object columns
non_numeric = planes.select_dtypes("object")

# Loop through columns
for column in non_numeric.columns:
  
  # Print the number of unique values
  print(f"Number of unique values in {column} column: ", non_numeric[column].nunique())

## Flight duration categories
As you saw, there are 362 unique values in the "Duration" column of planes. Calling planes["Duration"].head(), we see the following values:

- 0        19h
- 1     5h 25m
- 2     4h 45m
- 3     2h 25m
- 4    15h 30m

Name: Duration, dtype: object

Looks like this won't be simple to convert to numbers. However, you could categorize flights by duration and examine the frequency of different flight lengths!

You'll create a "Duration_Category" column in the planes DataFrame. Before you can do this you'll need to create a list of the values you would like to insert into the DataFrame, followed by the existing values that these should be created from.

In [ ]:

# Create a list of categories
flight_categories = ["Short-haul", "Medium", "Long-haul"]

# Create short_flights
short_flights = "^0h|^1h|^2h|^3h|^4h"

# Create medium_flights
medium_flights = "^5h|^6h|^7h|^8h|^9h"

# Create long_flights
long_flights = "10h|11h|12h|13h|14h|15h|16h"

## Adding duration categories
Now that you've set up the categories and values you want to capture, it's time to build a new column to analyze the frequency of flights by duration!

The variables flight_categories, short_flights, medium_flights, and long_flights that you previously created are available to you.

In [ ]:
# Create conditions for values in flight_categories to be created
conditions = [
    (planes["Duration"].str.contains(short_flights)),
    (planes["Duration"].str.contains(medium_flights)),
    (planes["Duration"].str.contains(long_flights))
]

# Apply the conditions list to the flight_categories
planes["Duration_Category"] = np.select(conditions, 
                                        flight_categories,
                                        default="Extreme duration")

# Plot the counts of each category
sns.countplot(data=planes, x="Duration_Category")
plt.show()

## Flight duration
You would like to analyze the duration of flights, but unfortunately, the "Duration" column in the planes DataFrame currently contains string values.

You'll need to clean the column and convert it to the correct data type for analysis. seaborn has been imported as sns.

In [ ]:
# Preview the column
print(planes["Duration"].head())

# Remove the string character
planes["Duration"] = planes["Duration"].str.replace("h", "")

# Convert to float data type
planes["Duration"] = planes["Duration"].astype(float)

# Plot a histogram
planes['Duration'].hist()
plt.show()

# Adding descriptive statistics
Now "Duration" and "Price" both contain numeric values in the planes DataFrame, you would like to calculate summary statistics for them that are conditional on values in other columns.

In [ ]:
# Price standard deviation by Airline
planes["airline_price_st_dev"] = planes.groupby("Airline")["Price"].transform(lambda x: x.std())

print(planes[["Airline", "airline_price_st_dev"]].value_counts())

 # Median Duration by Airline
planes["airline_median_duration"] = planes.groupby("Airline")["Duration"].transform(lambda x: x.median())

print(planes[["Airline","airline_median_duration"]].value_counts())

# Mean Price by Destination
planes["price_destination_mean"] = planes.groupby("Destination")["Price"].transform(lambda x: x.mean())

print(planes[["Destination","price_destination_mean"]].value_counts())

## Identifying outliers
You've proven that you recognize what to do when presented with outliers, but can you identify them using visualizations?

Try to figure out if there are outliers in the "Price" or "Duration" columns of the planes DataFrame

## Removing outliers
While removing outliers isn't always the way to go, for your analysis, you've decided that you will only include flights where the "Price" is not an outlier.

Therefore, you need to find the upper threshold and then use it to remove values above this from the planes DataFrame.

In [ ]:
# Find the 75th and 25th percentiles
price_seventy_fifth = planes["Price"].quantile(0.75)
price_twenty_fifth = planes["Price"].quantile(0.25)

# Calculate iqr
prices_iqr = price_seventy_fifth - price_twenty_fifth

# Calculate the thresholds
upper = price_seventy_fifth + (1.5 * prices_iqr)
lower = price_twenty_fifth - (1.5 * prices_iqr)

# Subset the data
planes = planes[(planes["Price"] > lower) & (planes["Price"] < upper)]

print(planes["Price"].describe())

## Importing DateTime data
You'll now work with the entire divorce dataset! The data describes Mexican marriages dissolved between 2000 and 2015. It contains marriage and divorce dates, education level, birthday, income for each partner, and marriage duration, as well as the number of children the couple had at the time of divorce.

In [ ]:
# Import divorce.csv, parsing the appropriate columns as dates in the import
divorce = pd.read_csv('divorce.csv', parse_dates=["divorce_date", "dob_man", "dob_woman", "marriage_date"])
print(divorce.dtypes)

## Updating data type to DateTime
Now, the divorce DataFrame has been loaded for you, but one column is stored as a string that should be DateTime data. Which one is it? Once you've identified the column, you'll update it so that you can explore it more closely in the next exercise.

pandas has been imported as pd.

In [ ]:
# Convert the marriage_date column to DateTime values
divorce["marriage_date"] = pd.to_datetime(divorce["marriage_date"])

### Visualizing relationships over time
Now that your date data is saved as DateTime data, you can explore patterns over time! Does the year that a couple got married have a relationship with the number of children that the couple has at the time of divorce? Your task is to find out!

The divorce DataFrame (with all dates formatted as DateTime data types) has been loaded for you. pandas has been loaded as pd, matplotlib.pyplot has been loaded as plt, and Seaborn has been loaded as sns.

In [ ]:
# Define the marriage_year column
divorce["marriage_year"] = divorce["marriage_date"].dt.year

# Create a line plot showing the average number of kids by year
sns.lineplot(data=divorce, x="marriage_year", y="num_kids")
plt.show()

### Interpreting a heatmap
Which of the below statements is correct regarding the relationships between variables in the divorce DataFrame?

The divorce DataFrame has been loaded for you so that you can explore it in the shell. pandas has been loaded as pd, matplotlib.pyplot has been loaded as plt, and Seaborn has been loaded as sns.

In [ ]:
sns.heatmap(divorce.corr(), annot=True)
plt.show()

### Visualizing variable relationships
In the last exercise, you may have noticed that a longer marriage_duration is correlated with having more children, represented by the num_kids column. The correlation coefficient between the marriage_duration and num_kids variables is 0.45.

In [ ]:
# Create the scatterplot
sns.scatterplot(data = divorce, x='marriage_duration',y = 'num_kids')
plt.show()

### Visualizing multiple variable relationships
Seaborn's .pairplot() is excellent for understanding the relationships between several or all variables in a dataset by aggregating pairwise scatter plots in one visual.

In [ ]:
# Create a pairplot for income_woman and marriage_duration
sns.pairplot(data=divorce, vars=['income_woman' , 'marriage_duration'])
plt.show()

### Categorical data in scatter plots
In the video, we explored how men's education and age at marriage related to other variables in our dataset, the divorce DataFrame. Now, you'll take a look at how women's education and age at marriage relate to other variables!

Your task is to create a scatter plot of each woman's age and income, layering in the categorical variable of education level for additional context.

In [ ]:
# Create the scatter plot
sns.scatterplot(data=divorce,x='woman_age_marriage', y='income_woman', hue='education_woman'  )
plt.show()

### Exploring with KDE plots
Kernel Density Estimate (KDE) plots are a great alternative to histograms when you want to show multiple distributions in the same visual.

Suppose you are interested in the relationship between marriage duration and the number of kids that a couple has. Since values in the num_kids column range only from one to five, you can plot the KDE for each value on the same plot.

In [ ]:
# Create the KDE plot
# Update the KDE plot to show a cumulative distribution function
sns.kdeplot(data=divorce, x="marriage_duration", hue="num_kids", cut=0, cumulative=True)
plt.show()

### Checking for class imbalance
Print the relative frequency of the "Job_Category" column from salaries DataFrame.

In [ ]:
# Print the relative frequency of Job_Category
print(salaries['Job_Category'].value_counts(normalize=True))

### Cross-tabulation can help identify how observations occur in combination.

Using the salaries dataset, which has been imported as a pandas DataFrame, you'll perform cross-tabulation on multiple variables, including the use of aggregation, to see the relationship between "Company_Size" and other variables.

In [ ]:
# Cross-tabulate Company_Size and Experience
print(pd.crosstab(salaries["Company_Size"], salaries["Experience"]))


# Cross-tabulate Job_Category and Company_Size
print(pd.crosstab(salaries["Job_Category"], salaries["Company_Size"]))


# Cross-tabulate Job_Category and Company_Size
print(pd.crosstab(salaries["Job_Category"], salaries["Company_Size"],
            values=salaries["Salary_USD"], aggfunc="mean"))

## Extracting features for correlation
In this exercise, you'll work with a version of the salaries dataset containing a new column called "date_of_response".

The dataset has been read in as a pandas DataFrame, with "date_of_response" as a datetime data type.

Your task is to extract datetime attributes from this column and then create a heat map to visualize the correlation coefficients between variables.

In [ ]:
# Get the month of the response
salaries["month"] = salaries["date_of_response"].dt.month

# Extract the weekday of the response
salaries["weekday"] = salaries["date_of_response"].dt.weekday

# Create a heatmap
sns.heatmap(salaries.corr(), annot=True)
plt.show()

### Calculating salary percentiles
In the video, you saw that the conversion of numeric data into categories sometimes makes it easier to identify patterns.

Your task is to convert the "Salary_USD" column into categories based on its percentiles. First, you need to find the percentiles and store them as variables.

pandas has been imported as pd and the salaries dataset read in as DataFrame called salaries.

In [ ]:
# Find the 25th percentile
twenty_fifth = salaries["Salary_USD"].quantile(0.25)

# Save the median
salaries_median = salaries["Salary_USD"].median()

# Gather the 75th percentile
seventy_fifth = salaries["Salary_USD"].quantile(0.75)
print(twenty_fifth, salaries_median, seventy_fifth)

### Categorizing salaries
Now it's time to make a new category! You'll use the variables twenty_fifth, salaries_median, and seventy_fifth, that you created in the previous exercise, to split salaries into different labels.

The result will be a new column called "salary_level", which you'll incorporate into a visualization to analyze survey respondents' salary and at companies of different sizes.

In [ ]:
# Create salary labels
salary_labels = ["entry", "mid", "senior", "exec"]

# Create the salary ranges list
salary_ranges = [0, twenty_fifth, salaries_median, seventy_fifth, salaries["Salary_USD"].max()]

# Create salary_level
salaries["salary_level"] = pd.cut(salaries["Salary_USD"],
                                  bins=salary_ranges,
                                  labels=salary_labels)

# Plot the count of salary levels at companies of different sizes
sns.countplot(data=salaries, x="Company_Size", hue="salary_level")
plt.show()

### Comparing salaries
Exploratory data analysis is a crucial step in generating hypotheses!

You've had an idea you'd like to explore—do data professionals get paid more in the USA than they do in Great Britain?

You'll need to subset the data by "Employee_Location" and produce a plot displaying the average salary between the two groups.

In [ ]:
# Filter for employees in the US or GB
usa_and_gb = salaries[salaries["Employee_Location"].isin(["US", "GB"])]

# Create a barplot of salaries by location
sns.barplot(data=usa_and_gb, x="Employee_Location", y="Salary_USD")
plt.show()